bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.IMS/.idea/

.vs/IMS/config/applicationhost.config

.vs/IMS/DesignTimeBuild/

.vs/IMS/FileContentIndex/

.vs/IMS/v17/

.vs/ProjectEvaluation/
