@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase

@if (inventories is not null && inventories.Count > 0)
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var inventory in inventories)
        {
            <InventoryListItemComponent Inventory="inventory"></InventoryListItemComponent>
        }
        </tbody>
    </table>
}
else
{
    <p><em>Loading...</em></p>
}

@code {
    private List<Inventory>? inventories;
    protected override async Task OnInitializedAsync()
    {
        inventories = (await ViewInventoriesByNameUseCase.ExecuteAsync()).ToList();
    }

}
